body {
    background-color: aqua;
    font-family: Georgia;
   }
   h1{
       font-family: Comic Sans MS;
       font-size: 60px;
       color: darkblue;
       text-align: center;
   }
   h3 a{
    color: white;
   }

    h4{
       text-align: right;
       font-style: italic;

    }   

    p{
       text-align: center;
       text-indent: 10%;
    }

    .hello:link{
        color: white;
        text-decoration: none;
    }
    .hello:hover {
        color: white;
    }
    .hello:visited {
        color: white;
    }
    .hello:active {
        color: white;
    }

.gg > p {
    color: orange;
}

.ft > p {
     text-align: right;
}
