body {
    background-color: aqua;
    font-family: Georgia;
   }
   h1{
       font-family: Comic Sans MS;
       font-size: 60px;
       color: darkblue;
       text-align: center;
   }


    h4{
       text-align: right;
       font-style: italic;

    }   

    p{
       text-align: center;
       text-indent: 10%;
    }
    p:first-of-type{
        color: orange;

    }
    
    .hello{
        color: white;
    }
    
    .hello:hover
    {
        color: red;
        text-decoration: none;
    }
    
    .hello2
    {
        color: blue;
        font-weight: bold;
        text-decoration: none;
    }
    .hello2:hover{
        color: white;
        background-color: blue;
        font-weight: bold;
        text-decoration: none;
    }


